@media (min-width: 320px) {
	.wrap__title: 15px;
}
}
@media (min-width: 480px){
	.wrap__title {
		font-size: 30px; 
}
}
@media (min-width: 641px) {
	.wrap__title {
	font-size: 45px;
	}
}
@media (min-width: 768px) {
	.wrap__title: {
		font-size: 50px;
}
}
@media (min-width: 1024px) {
	.wrap__title {
		font-size: 55px;
		} 
}